/**
 * Main CSS for Random Picker Thingy.
 */
body, html {
  background-color: #171717;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}

.thing-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2%;
}
 
#random-picker-container-thingy {
  width: 100%;
  height: 100%;
}

.cell {
  float: left;
  border: 4px solid #171717;
  box-sizing: border-box;
}

.entry {
  width: 100%;
  height: 100%;
  opacity: 1;
  text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}

.check-data-container {
  width: 75%;
  text-align: right;
  font-size: 1.75em;
}

.check-data-container ul {
  list-style: none;
  margin-botton: 2.5em;
}

.check-data-container ul li {
  width: 50%;
  float: left;
}

.check-data-container .go-go-go {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  color: #232323;
  background-color: #BCBCBC;
  padding: .5em 1em;
  border-radius: 3px;
}