/**
 * Main CSS for Random Picker Thingy.
 */
#random-picker-container-thingy {
  width: 100%;
  height: 100%;
  position: absolute;
}

.cell {
  float: left;
}

.entry {
  width: 100%;
  height: 100%;
  opacity: 1;
}